<html>
    <head><title>SUBMITTED</title>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
        <h1>FORM SUCCESSFULY SUBMITTED</h1>
        </div>
    </body>
</html>